{% extends "app/layout.html" %}

{% block content %}
    <div class="row">
        <h2>Angular Twitter Search</h2>
    </div>
    <div class="row">
        <searchform></searchform>
    </div>     

{% for tweet in tweets %}
<div class="row">
    <p>{{tweet.text}}</p>
</div>
{% endfor %}

{% for score in scores %}
<div class="row">
    <p>score: {{score}}</p>
</div>
{% endfor %}


<footer>
    <p>Sentement Analysis provided by <a href="http://www.alchemyapi.com/">AlchemyAPI</a></p>
</footer>

{% endblock %}
